<div class="formContainer" id="lessonScreen">
    <div class="formColumn">
        <a id="homeworkButton"> 과제공유 버튼으루 </a>
    </div>
    <div class="formColumn">
        <form action="/search">
            <select name="search">
                <option name="title" value="title">수업제목</option>
                <option name="campus" value="campus">캠퍼스</option>
                <option name="target" value="target">대상학년</option>
                <option name="major" value="major">이수구분</option>
            </select>
            <input style="width: 300px" type="text" name="search" placeholder="검색어를 입력하세요" required=true/>
            <input type="submit" value="Enter">
        </form>
    </div>
    <div class="formColumn">
        <a href="/">조회수 순</a>
        <a href="/">공감 순</a>
    </div>
    <div class="formColumn">
        <%@index.each do |item|%>
            <div class="form">
                <a href="lesson/<%=item.id%>/detail">
                    <p><%=item.title%></p>
                    <p>수업제목, 이름, 코맨트, 좋아요,싫어요,조회수</p>
                    <p>총점, 평가항목1, 평가항목2, 평가항목 3, 평가항목</p>
                </a>
            </div>
        <%end%>
    </div>
</div>
<div class="formContainer" id="homeworkScreen">
    <div class="formColumn">
        <a id="lessonButton"> 강의평가 버튼으루</a>
    </div>
    <div class="formColumn">
        <form action="/search">
            <select name="search">
                <option name=""></option>
                <option name=""></option>
                <option name=""></option>
                <option name=""></option>
            </select>
            <input style="width: 300px" type="text" name="search" placeholder="검색어를 입력하세요" required=true/>
            <input type="submit" value="Enter">
    </div>
    <div class="formColumn">
        <a href="/">조회수 순</a>
        <a href="/">공감 순</a>
    </div>
    <div class="formColumn">
        <%@index.each do |item|%>
            <div class="form">
                <a href="homework/<%=item.id%>/detail">
                <p><%=item.title%></p>
            </div>
        <%end%>
    </div>
</div>
<script>
    var lessonScreen = document.getElementById("lessonScreen");
    var homeworkScreen = document.getElementById("homeworkScreen");
    var homeworkButton = document.getElementById("homeworkButton");
    var lessonButton = document.getElementById("lessonButton");
    var form = document.getElementsByClassName("formColumn")[3]

    homeworkButton.addEventListener("click",function(e){
        lessonScreen.style.display = "none";
        homeworkScreen.style.display = "block";
    });

    lessonButton.addEventListener("click",function(e){
        homeworkScreen.style.display="none";
        lessonScreen.style.display="block";
    });
    
    var flexFunction = function(){
        var FLEX_NUMBER= 2;
        var CHILD_LENGTH = (form.children.length)/2;

        while(true){
            for(var i=0; i<FLEX_NUMBER; i++){

                var child = form.children;

                var div = document.createElement("div");
                div.style.display="flex";
                div.setAttribute="flex-direction","row";
                div.appendChild(child[i]);
                div.appendChild(child[i]);
                form.appendChild(div);
            }
            CHILD_LENGTH--;
            if(CHILD_LENGTH ===0) break;
        }
    }
    
    //flexFunction();


</script>