<div class="formContainer" id="lessonScreen">
    <div class="formColumn">
        <a id="homeworkButton"> 과제공유 버튼으루 </a>
    </div>
    <div class="formColumn">
        <form action="/search">
            <select name="search">
                <option name="title" value="title">수업제목</option>
                <option name="campus" value="campus">캠퍼스</option>
                <option name="target" value="target">대상학년</option>
                <option name="major" value="major">이수구분</option>
            </select>
            <input style="width: 300px" type="text" name="search" placeholder="검색어를 입력하세요" required=true/>
            <input type="submit" value="Enter">
        </form>
    </div>
    <div class="formColumn">
        <a href="/">조회수 순</a>
        <a href="/">공감 순</a>
    </div>
</div>
<div class="formContainer" id="homeworkScreen">
    <div class="formColumn">
        <a id="lessonButton"> 강의평가 버튼으루</a>
    </div>
    <div class="formColumn">
        <form action="/search">
            <select name="search">
                <option name=""></option>
                <option name=""></option>
                <option name=""></option>
                <option name=""></option>
            </select>
            <input style="width: 300px" type="text" name="search" placeholder="검색어를 입력하세요" required=true/>
            <input type="submit" value="Enter">
    </div>
    <div class="formColumn">
        <a href="/">조회수 순</a>
        <a href="/">공감 순</a>
    </div>
</div>
<script>
    var lessonScreen = document.getElementById("lessonScreen");
    var homeworkScreen = document.getElementById("homeworkScreen");
    
    var homeworkButton = document.getElementById("homeworkButton");
    var lessonButton = document.getElementById("lessonButton");

    homeworkButton.addEventListener("click",function(e){
        lessonScreen.style.display = "none";
        homeworkScreen.style.display = "block";
    });

    lessonButton.addEventListener("click",function(e){
        homeworkScreen.style.display="none";
        lessonScreen.style.display="block";
    });


</script>