<div class="default">
    <div class="defaultColumn">
        <p> 해당 글이 삭제되었습니다 </p>
    </div>
    <div class="defaultColumn">
        <a href="/lesson">
            <p> 강의평가 하기 </p>
        </a>
        <a href="/professor">
            <p> 교수평가 하기 </p>
        </a>
    </div>
</div>