<div class="homeworkContainer">
    <div style="display:none" class="testColumn">
        <%=form_tag "/homework/create", method: :post, multipart: true%>
            <input type="text" name="title" placeholder="title">
            <input type="file" name="image">
            <input type="submit" value="submit">
        </form>
    </div>
    <div class="homeworkColumn">
        <p>1. 수업이름 2. 과제공유에서 내가 쓴 제목 3.거기에 달린 댓글 : +33</p>
        <p>1. 수업이름 2. 과제공유에서 내가 쓴 제목 3.거기에 달린 댓글 : +33</p>
        <p>1. 수업이름 2. 과제공유에서 내가 쓴 제목 3.거기에 달린 댓글 : +33</p>
        <p>1. 수업이름 2. 과제공유에서 내가 쓴 제목 3.거기에 달린 댓글 : +33</p>
        <p>1. 수업이름 2. 과제공유에서 내가 쓴 제목 3.거기에 달린 댓글 : +33</p>
        <p>1. 수업이름 2. 과제공유에서 내가 쓴 제목 3.거기에 달린 댓글 : +33</p>
        <p>1. 수업이름 2. 과제공유에서 내가 쓴 제목 3.거기에 달린 댓글 : +33</p>
        <h1> 여기서 +33 같은 댓글버튼 누르게 되면 내가 쓴 글로 페이지 이동 이런 포맷으로 아마 밑으로 주루룩? 내리지 않을까?</h1>
    </div>
    <div class="homeworkColumn">
    </div>
</div>
