header, footer, .popUpButton{
    min-width: 1000px;
    /* min height 설정도 해야한다..*/
}

main{
    min-width: 800px;
    display: flex;
    flex: 3;
}
/* */

/* header main footer */
html, body{
    height: 100%;
}

body{
     width: 100%;
 }
