 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "./commonStyle/formContainer.css"; /* 강의평가, 교수평가, search */
@import "./commonStyle/mediaCss.css"; /*media 조정*/
@import "./commonStyle/minWidthHeight.css"; /*min-widht min-height*/
 
 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    line-height: 1;
    display: flex;
    flex: 1;
    flex-direction: column;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

a {
    text-decoration: none;
}

a:hover{
    opacity: 0.5;
}

/* font */
@font-face {
    font-family: 'headCircle';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
                      
*{
    font-family: 'headCircle';
}
            
/* font */

/* header / */
header{
    height: 500px;
    margin : 0;
    background-color: #F6F6F6;
    display: flex;
    flex : 1;
}

.headerContainer{
    display: flex;
    flex : 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerColumn:nth-child(1){
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 20px;
    font-weight: bold;
    font-family: "headCircle";
    color : #4A3656;
}

.headerColumn:nth-child(2){
    text-align: center;
}

.headerColumn:nth-child(2) a:hover h3{
    opacity: 0.5;
}

.headerColumn:nth-child(2) h3{
    font-family: 'headCircle';
    font-size : 30px;
    font-weight: bold;
    color : #4A3656;
    margin-bottom: 10px;
}

.headerColumn:nth-child(3){
    margin-top: 20px;
}

.headerColumn:nth-child(3) form{
    border : 1px solid #4A3656;
    width : 500px;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex : 1;
    flex-direction: row;
}

.headerColumn:nth-child(3) form select{
    flex : 1;
    border: 0px;
    background-color: #F6F6F6;
    color : #4A3656;
    font-size: 20px;
}

.headerColumn:nth-child(3) form input[type="text"]{
    flex : 4;
    border: 0px;
    font-size: 20px;
    background-color: #F6F6F6;
}

.headerColumn:nth-child(3) form input[type="submit"]{
    flex: 1;
    width: 100px;
    border : 0px;
    background-color: #F6F6F6;
    font-size: 20px;
    font-family: 'headCircle';
    font-weight: bold;
    color : #4A3656;
    padding-left: 20px;
    border-left: 1px solid #4A3656;
}   

.headerColumn:nth-child(3) form input[type="submit"]:hover{
    opacity: 0.5;
}

.headerColumn:nth-child(4){
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.headerColumn:nth-child(4) a{
    font-family: 'headCircle';
    font-size: 30px;
    font-weight: bold;

    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.headerColumn:nth-child(4) a:hover{
    opacity: 0.7;
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform:scale(1.2);
    
}

.headerColumn:nth-child(4) i{
    margin-bottom: 10px;
    font-size : 100px;
}

.headerColumn:nth-child(4) .column{
    display: flex;
    flex-direction: column;
    margin: 10px 50px;
    text-align: center;
}

.headerColumn:nth-child(4) .column a{
    color : #4A3656;;
    font-size : 20px;
    font-weight: bold;
}


/* modal */

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);
}

#error{
    font-size : 15px;
    font-weight: bold;
    color : white;
    margin-top : 10px;
}

.modalContent{
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
    width: 400px;
    height: 600px;
    border-radius: 25px;
}

.modalContent h1:nth-child(1){
    font-size: 40px;
    margin-bottom: 10px;
}

.modalContent h1:nth-child(2){
    font-size: 20px;
    margin-bottom: 40px;
}

.modalContent form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modalContent form input{
    padding: 15px;
    border: 0px;
    margin-bottom: 15px;
    border-radius: 25px;
    width : 300px;
}

.modalContent input[type="email"], input[type="password"], .modalContent input[type="text"]{
    background-color: #f1f1f1;
    color: #38363a;
    font-family: normal;
}

#modalJoin form select{
    background-color: #f1f1f1;
    width: 330px;
    margin-bottom: 10px;
    padding: 15px;
    border: 0px;
    font-family: normal;
    color: #38363a;
    border-radius: 25px;
}

.modalContent input[type="submit"]{
    background-color: #6e5b7c;
    font-family: normal;
    color : white;
    width: 330px;
    font-size : 18px;
    font-weight: bold;
};

#modalLogin a{
    font-size: 14px;
    font-weight: normal;
}

#modalLogin a:nth-child(1){
    margin-bottom: 20px;
}

#modalPassword{
    display: none;
}

.error{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size : 20px;
}

.error:nth-child(3){
    margin-bottom: 10px;
}

/* modal */
 main{
    display: flex;
    flex: 1;
    background-color: #FFFFFF;
    margin : 3% 10%;
 }

 /* popUpButton */
 .popUpButton{
     text-align: center;
     margin-bottom: 10px;
     font-size: 40px;
 }

 .popUpButton:hover{
     opacity: 0.5;
 }

 /* footer */
 footer{
    display: flex;
    float: bottom;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ecf0f1;
    height: 500px;
 } 

 footer .footerContainer{
     display: flex;
     flex: 1;
     width: 100%;
     flex-direction: column;
 }

 .footerColumn:nth-child(1){
    font-family: 'headCircle';
    color : white;

    background-color: #6E5B7C;
    display: none;
    flex-direction: row;
    flex : 2;
    justify-content: space-around;
    align-items: center;
 }

 .current_user{
     font-size: 30px;
 }
 
 .footerColumn:nth-child(1) .column{
    display: flex;
    flex-direction: column;
 }

 .footerColumn:nth-child(1) .column .columnColumn{
     display: flex;
     flex-direction: row;
 }

 .footerColumn:nth-child(2){
     background-color: #4A3656;
     display: flex;
     flex : 1;
     justify-content: left;
     padding-left: 10%;
     align-items: center;
 }

 .footerColumn:nth-child(2) p{
     font-size : 15px;
     font-weight: bold;
     color : white;
     margin-right: 15px;
 }

 .footerColumn:nth-child(2) p:nth-child(1){
     font-size : 20px;
     font-weight: bold;
 }

 .columnColumnColumn{
     display: flex;
     flex-direction: column;
 }

 .columnColumnColumn p:nth-child(1){
     font-size: 30px;
     margin-bottom: 10px;
 }

 .columnColumnColumn p:nth-child(2){
     font-size: 20px;
     margin-bottom: 50px;
 }

 .columnColumnColumn a{
     text-decoration: none;
     font-size: 20px;
 }