// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.homeContainer{
    display: flex;
    flex : 1;
    flex-direction: row;
    justify-content: space-around;

    .vertical{
        border-left: 4px solid rgba(74,54,86,0.5);
        align-items: center;
        position: absolute;
        left : 50%;
    }

    .homeColumn{
        h1{
            font-size: 20px;
            font-weight: bold;
            color : #4A3656;
        }
    }

    .homeColumn:nth-child(1){
        display: flex;
        flex-direction: column;
        width: 400px;

        .recent_lesson{
            
        }
    }

    .homeColumn:nth-child(3){
        display: flex;
        flex-direction: column;
        width : 400px;

        .column{
            p{
                color : white;
            }
            .bestColumn{
                display: flex;
                flex: 1;
                height: 120px;
                border: 0px;
                background-color: #6E5B7C;
                padding: 20px;
                border-radius: 25px;
                align-items: center;
            }

            a{
                display: flex;
                flex : 1;
                flex-direction: column;
            }

            .rowColumn{
                display: flex;

                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 20px;

                .columnColumn{
                    margin-right: 20px;

                    p:nth-child(1){
                        font-size: 20px;
                        margin-bottom: 5px;
                    }

                    p:nth-child(2){
                        font-size: 15px;
                    }
                }

                .columnColumn:nth-child(1){
                    display: flex;
                    flex-direction: column;
                }
            }

            .comment{
                font-size: 15px;
            }
        }
    }
}