// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.homeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;

    h1{
        font-size : 30px;
    }

    .seeboard{
        width: 1000px;
        height: 500px;
        border: 1px solid black;
        margin : 20px 0;
    }

    // border 최신강의 평가 1x3

        .content{
            display: flex;
            flex-direction: row;
            flex: 1;
            justify-content: space-around;
            align-items: center;
            width : 1500px;

            .contentColumn{
                display: flex;
                flex: 1;
                
                width : 200px;
                height: 200px;
                border : 0;
                padding : 20px;
                background-color:rgba(110, 91, 124, 0.8);
                margin : 20px 5px;
                border-radius: 25px;
        }
    }

    // 최고의 교수, 최고의 수업
    .bestProfessor{
        display: flex;
        flex-direction: column;
        flex :1;
        justify-content: center;
        align-items: center;
        width: 1500px;

        .contentColumn{
            width : 1000px;
            height: 200px;
            border : 0px;
            padding : 20px;
            background-color:rgba(110, 91, 124, 0.8);
            border-radius: 25px;
            margin-bottom: 20px;
        }
        
    }
}