// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.homeContainer{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color : #4A3656;

    // margin-bottom
    .homeColumn:nth-child(1){
        margin-bottom: 50px;
    }

    .content{
        margin-bottom: 50px;
    }

    #professor{
        margin-top: 50px;
    }

    #btnForget{
        margin-top: 50px;
        margin-bottom: 20px;
        font-family: normal;
        font-size: 13px;
    }
    
    #btnJoin{
        margin-bottom: 50px;
        font-family: normal;
        font-size: 13px;
    }

    .homeColumn{
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    .column{
        display: flex;
        flex:1;
        flex-direction: column;
    }

    h1{
        font-size : 30px;
    }

    // 가이드라인
    .guideColumn{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex: 1;

        a{
            margin-right: 60px;
            display: flex;
            flex-direction: row;

            i{
                font-size: 40px;
            }

            p{
                font-size: 20px;
                margin-left: 5px;
                margin-top: 15px;
            }
        }
    }
    //

    .seeboard{
        margin : 20px 0;

        table{
            width: 742px;
            border-bottom: 3px solid #707070;
        }

        th, td{
            padding : 15px;
            font-family: "comment";
        }

        th{
            border-top: 3px solid #707070;
        }

        td{
            border-top: 1px solid #707070;
        }

        td:nth-last-child(3):hover{
            opacity: 0.5;
        }

    }

    // border 최신강의 평가 1x3

        .content{
            display: flex;
            flex: 1;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            //width : 1500px

            .contentColumn{
                display: flex;
                flex: 1;
                flex-direction: column;
                
                height: 220px;
                padding : 20px;
                border : 0.5px solid #4A3656;
                background-color: #F5F5F5;
                margin : 20px 10px;
                border-radius: 25px;

                .recentColumn{
                    display: flex;
                    flex-direction: column;
                }

                .recentColumn:nth-child(1){
                    flex : 1;

                    p:nth-child(1){
                        width: 180px;
                        font-size : 20px;
                        margin-bottom: 10px;

                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    p:nth-child(2){
                        font-family: "comment";
                        font-size: 15px;
                    }
                }

                .recentColumn:nth-child(2){
                    flex : 2;

                    width: 180px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    word-break: break-all;

                    .scoreColumn{
                        display: flex;
                        flex : 1;
                        flex-direction: row;

                        p{
                            font-family: "comment";
                            margin-top: 5px;
                            margin-right: 2px;
                            font-size :13px;
                        };
                    }
                }

                .recentColumn:nth-child(3){
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

    // 최고의 교수, 최고의 수업
    .bestProfessor{
        display: flex;
        flex :1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;

        font-size : 15px;
        //width: 1500px;

        .bestColumn{
            width : 700px;
            height: 300px;
            padding : 20px;
            border : 0.5px solid #4A3656;
            background-color: #F5F5F5;
            border-radius: 25px;
            margin-bottom: 20px;

            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            transform: scale(1);
            -webkit-transition: .3s;
            -moz-transition: .3s;
            -ms-transition: .3s;
            -o-transition: .3s;
            transition: .3s;
        }

        .bestColumn:hover{
            -webkit-transform:scale(1.1);
            -moz-transform:scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
            transform:scale(1.1);
        }
        
    }

    //최신강의 평가항목
    .contentColumn{
        position: relative;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
    }

    .contentColumn:hover .alertColumn{
        font-size : 30px;
        opacity: 1;
    }

    .alertColumn{
        position: absolute;
        opacity: 0;
        bottom : 45%;
        text-align: center;
    }

    // 자세히보기
    .contentColumn:hover{

        .alertColumn{
            color : white;
            font-size : 30px;
            opacity: 1;
        }

        .recentColumn{
            opacity: 0.2;
        }

        background-color: #4A3656;
        -webkit-transform:scale(1.1);
        -moz-transform:scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform:scale(1.1);
    }
}