// Place all the styles related to the homework controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//homeworkLessonContainer 과제공유 게시판목록
.homeworkLessonContainer{
    display: flex;
    flex : 1;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    //@index not exists
    #noneIndexLink{
        display: flex;
        flex :1;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p{
            font-size: 30px;
            font-family: "comment";
        }

        p:nth-child(1){
            margin-bottom: 15px;
        }
    }

    //@index exists
    .homeworkLessonColumn:nth-child(1){
        
        display: flex;
        flex : 1;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        //제목
        #lessonTitle{
            font-size :30px;
            font-family: "comment";
            margin-bottom: 30px;
        }
        
        table{
            width: 742px;
            border-bottom: 3px solid #707070;
        }
        
        th, td{
            padding : 15px;
            font-family: "comment";
        }
        
        th{
            border-top: 3px solid #707070;
        }
        
        td{
            text-align: center;
            border-top: 1px solid #707070;
        }
        
        td:nth-last-child(4):hover{
            opacity: 0.5;
        }
    }

    // 글쓰기 버튼
    .homeworkLessonColumn:nth-child(2){
        display: flex;
        width: 750px;
        margin-top : 15px;

        justify-content: flex-end;
        align-items: flex-end;
        
        a{
            display: flex;
            font-size : 22px;
            padding : 10px;
            font-size: 20px;
            border : 0px;
            border-radius: 20px;
            padding: 10px;
            color : white;
            font-family: "comment";
            background-color: #4A3656;
        }
    }

    // pageNumber 13보다 클 때
    .homeworkLessonColumn:nth-child(3){
        display: flex;
        flex :1;
        flex-direction: row;

        width: 700px;
        overflow: auto;
        
        padding: 15px 0px;

        a{
            font-size: 20px;
            margin : 0px 15px;
        }
    }

    // pageNumber 13보다 작을 때
    .homeworkLessonColumnLess{
        display: flex;
        flex : 1;
        flex-direction: row;

        width: 700px;

        justify-content: center;
        align-items: center;

        padding : 15px 0px;
        
        a{
            font-size: 20px;
            margin: 0px 15px;
        }
    }

    // 검색 및 글쓰기
    .homeworkLessonColumn:nth-child(4){
        display: flex;
        flex: 1;
        flex-direction: column;

        justify-content: center;
        align-items: center;
        
        form{
            border : 1px solid #4A3656;
            width : 500px;
            border-radius: 20px;
            padding: 15px;
            display: flex;
            flex : 1;
            flex-direction: row; 
        }

        form select{
            flex : 1;
            border : 0px;
            background-attachment: #F6F6F6;
            color : #4A3656;
            font-size: 20px;
        }

        form input[type=text]{
            flex : 4;
            border: 0px;
            font-size: 20px;
            background-color: white;
        }

        form input[type=submit]{
            flex: 1;
            width: 100px;
            border : 0px;
            background-color: white;
            font-size: 20px;
            font-family: 'headCircle';
            font-weight: bold;
            color : #4A3656;
            padding-left: 20px;
            border-left: 1px solid #4A3656;
        }

        form input[type=submit]:hover{
            opacity: 0.5;
        }
    }
}

// homewokr/lesson/:id
.viewColumnColumn p:nth-child(1){
    font-size: 30px;
    width: 380px;
    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color : #4A3656;
}  
//교수이름
.viewColumnColumn p:nth-child(2){
    margin-top: 15px;
    font-family: "comment";
    color : #4A3656;
}

//코맨트
.commentColumn{
    font-family: "comment";
    color : #4A3656;

    p:nth-child(1){
        font-size:13px;
        margin-bottom: 10px;
        color : #4A3656;
    }

    p:nth-child(2){
        margin-bottom: 10px;
        text-overflow: ellipsis;
        color : #4A3656;
    }
}

// 좋아요 싫어용
.pointColumn{
    text-align: center;
    color : #4A3656;
}

// progressbar
.rowColumnColumn:nth-child(2){
    color : #4A3656;
    #score{
        font-size: 30px;
        margin-bottom: 20px;
    }
}

// homewokr/lesson/:id/detail
.detailContainer{
    display: flex;
    flex : 1;
    flex-direction: column;

    //설명
    .detailColumn:nth-child(1){
        display: flex;
        flex : 1;
        flex-direction: column;
        
        justify-content: center;
        align-items: center;
        
        //제목
        .column:nth-child(1)
        {
            display: flex;
            flex : 1;
            margin: 10px 0px;
            color : #4A3656;
            justify-content: flex-start;
            
            width: 930px;

            p:nth-child(1){
                font-size : 25px;
                font-family: "comment";
                margin-right: 10px;
            }

            p:nth-child(2){
                font-size: 15px;
                font-family: "comment";
                color: gray;
                margin-top : 13px;
            }
        }
    
        //이미지
        .column:nth-child(2){
            display: flex;
            flex : 3;
            margin: 5px 0px;

            justify-content: center;
            align-items: center;

            img{
                width : 920px;
            }
        }
    
        //설명
        .column:nth-child(3){
            display: flex;
            flex :2;
            margin: 5px 0px;
            
            justify-content: center;
            align-items: center;

            border : 0px;
            background-color: #F6F6F6;
            border-radius: 20px;
            padding : 20px;


            pre{
                padding : 10px;

                width: 920px;
                font-family: "comment";
                line-height: 1.2;
                font-size : 18px;

                //text-overflow
                word-wrap: break-word;
            }
        }

        //조회수
        .column:nth-child(4){
            display: flex;
            flex : 1;

            margin : 10px 0px;

            width: 930px;
            justify-content: flex-start;
            align-items: flex-start;

            p{
                margin-top: 10px;
                margin-right: 50px;
                font-size : 20px;
                font-family: "comment";
            }

            a{
                font-size: 20px;
                border : 0px;
                border-radius: 20px;
                padding: 10px;
                color : white;
                font-family: "comment";
                background-color: #4A3656;
            }
        }
    }

    //댓글
    .detailColumn:nth-child(2){
        display: flex;
        flex : 1;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        .column{
            width: 930px;
        }

        //댓글쓰기
        .column:nth-child(1){

            p{
                margin-bottom: 10px;
                font-size: 20px;
                font-family: "comment";
            }

            form{
                display: flex;
                flex : 1;
                flex-direction: row;
                margin-bottom: 10px;
            }
            
            textarea{
                display: flex;
                padding: 10px;
                margin-right: 10px;
                height: 180px;
                flex : 15;

                flex : 5;
                border : 1px solid #4A3656;
                border-radius: 20px;

                font-size : 15px;
                font-family: "comment";
                color : black;
            };

            input[type=submit]{
                display: flex;
                flex : 1;
                font-family: "comment";

                background-color: white;
                border: 1px solid #4A3656;
                border-radius: 20px;

                width: 150px;
                height: 200px;

                justify-content: center;
            }

            input[type=submit]:hover{
                background-color: #4A3656;
                -webkit-transform:scale(1.1);
                -moz-transform:scale(1.1);
                -ms-transform: scale(1.1);
                -o-transform: scale(1.1);
                transform:scale(1.1);

                color : white;

                -webkit-transition: 5s;
            }
        }
        //sorting
        .column:nth-child(2){
            margin-top: 10px;
            margin-bottom: 30px;

            a{
                margin-right: 20px;
                font-size: 20px;
                border : 0px;
                border-radius: 20px;
                padding: 10px;
                color : white;
                font-family: "comment";
                background-color: #4A3656;
            }
        }

        //댓글란
        .column:nth-child(3){
            display: flex;
            flex-direction: column;

            //comment
            .commentColumn{
                display: flex;
                min-height: 10px;
                flex : 1;
                flex-direction: row;
                
                border : 0px;
                background-color: #F6F6F6;
                border-radius: 20px;
                padding-top: 12px;
                padding-right: 20px;
                padding-left: 20px;
                margin-bottom: 10px;

                //이름
                p:nth-child(1){
                    display: flex;
                    flex :1;
                    font-size : 20px;
                    margin-right: 10px;
                }

                //description
                pre{
                    display: flex;
                    flex : 5;
                    line-height: 1.2;
                    margin-top: 3px;
                    font-size : 18px;
                    margin-right: 5px;
                }

                .heartColumn{
                    display: flex;
                    flex-direction: row;
                    p{
                        font-size: 15px;
                    }

                    a{
                        display: flex;
                        flex-direction: row;
                        margin-right: 10px;

                        i{
                            margin-right: 2px;
                        }
                    }
                }
            }
        }
    }
}