.deepContainer{
    display: flex;
    flex : 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .deepColumn:nth-child(1){
        width: 930px;
        height: 50px;
        display: flex;
        flex-direction: row;

        //교수 이름 및 설명
        .rowColumn:nth-child(1){
            display: flex;
            flex : 3;
            flex-direction: row;
    
            p,a {
                font-family: "comment";
            }
    
            p:nth-child(1){
                text-overflow: ellipsis;
                font-size: 30px;
                margin-right: 10px;
            }
    
            p:nth-child(2){
                margin-top: 12px;
                font-size: 15px;
                margin-right: 20px;
            }
    
            #plusButton{
                i{
                    margin-top: 7px;
                    font-size: 20px;
        
                    animation-name: demo;
                    animation-duration: 2s;
                    animation-iteration-count : infinite;
                    
                    @keyframes demo {
                        0% { font-size: 22px;}  
                        10% {font-size: 23px;}
                        20% {font-size: 24px;}
                        30% {font-size: 25px;}
                        40% {font-size: 26px;}
                        50% {font-size: 27px;}
                        60% {font-size: 26px;}
                        70% {font-size: 25px;}
                        80% {font-size: 24px;}
                        90% {font-size: 23px;}
                        10% {font-size: 22px;}
                    }
                }
            }
        }

        .rowColumn:nth-child(2){
            display: flex;
            flex: 1;

            font-size: 20px;
            font-family: "comment";
            margin-bottom: 10px;
            
            a{
                border : 1px dotted #4A3656;
                border-radius: 25px;
                padding: 10px;
            }

            a:hover{
                background-color: #4A3656;
                color : white;
            }
        }
    }

    .deepColumn:nth-child(2){
        display: flex;
        flex : 1;
        flex-direction: row;

        .tableColumn{
            display: flex;

            table{
                border : 2px solid #4A3656;

                th,td{
                    padding: 10px;
                    font-family: "comment";
                }

                tr{
                    border-bottom : 2px solid #4A3656;
                    text-align: center;
                }
            }
        }
    }

    .deepColumn:nth-child(3){
        display: flex;
        flex : 1;
        flex-direction: row;
        width: 930px;
        margin: 30px;

        p,a{
            font-family: "comment";
            margin-right: 20px;
        }

        i{
            font-size: 20x;
        }
    }
    
    .deepColumn:nth-child(4){
        // 아무런 글도 없을때
        display: flex;
        width: 930px;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        
        border : 0px;
        background-color: #F6F6F6;
        border-radius: 20px;
        padding : 20px;
        
        #message{
            font-size: 30px;
            font-family: "comment";
        }

        // 글은 있는디 내가 쓴 글이 없을때
        .rowColumn:nth-child(1){
            flex : 3;
            flex-direction: column;

            p:nth-child(1){
                font-size: 30px;
                font-family: "comment";
            }

            pre:nth-child(2){
                font-family: "comment";
                font-size: 20px;
                margin-top: 5px;
                margin-bottom: 10px;
                
                width :677px; 
                min-height : 150px;
                white-space: pre-wrap;
            }

            .bottom{
                display: flex;
                flex-direction: row;
                width: 677px;
                align-items: flex-start;
                justify-content: flex-start;

                a{
                    font-family: "comment";
                    font-size: 15px;
                    margin-right: 30px;
                    padding-top: 10px;
                }

                p{
                    font-family: "comment";
                    font-size: 15px;;
                    margin-right: 30px;
                    padding-top: 10px;
                }
            }
        }

        .rowColumn:nth-child(2){
            flex :1;
            flex-direction: column;

            .rowProgress:nth-child(1){
                justify-content: center;
            }
        }
    }

    //수강후기 표
    .deepColumn:nth-child(5){
        display: flex;
        width: 930px;

        form{
            display: flex;
            flex : 1;
            height: 200px;
            flex-direction: row;
            margin-bottom: 20px;

            textarea{
                display: flex;
                flex : 2;
                font-family: "comment";
                padding-left: 15px;
                margin-right: 10px;
                
                border : 1px solid #4A3656;
                border-radius: 20px;
            }

            .progressColumn{
                display: flex;
                flex-direction: column;
                flex : 2;

                justify-content: center;
                align-items: center;  

                font-size: 20px;

                .progress{
                    display: flex;
                    flex-direction: row;

                    font-family: "comment";

                    p, input{
                        margin-right: 10px;
                        margin-bottom: 20px;
                    }
                }
            }

            input[type=submit]{
                display: flex;
                flex : 1;
                font-family: "comment";

                background-color: white;
                border: 1px solid #4A3656;
                border-radius: 20px;

                width: 150px;
                height: 200px;

                justify-content: center;
            }

            input[type=submit]:hover{
                background-color: #4A3656;
                -webkit-transform:scale(1.1);
                -moz-transform:scale(1.1);
                -ms-transform: scale(1.1);
                -o-transform: scale(1.1);
                transform:scale(1.1);

                color : white;

                -webkit-transition: 5s;
            }

        }
    }
}

// 밑에 주루룩
.bottomColumn{
    border : 0px;
    background-color: #F6F6F6;
    border-radius: 20px;
    padding : 20px;

    width: 930px;
    display: flex;
    flex : 1;
    flex-direction: row;
    margin-bottom: 30px;

    .rowColumn:nth-child(1){
        display: flex;
        flex-direction: column;
        flex: 3;

        p:nth-child(1){
            font-size: 30px;
            font-family: "comment";
        }

        pre:nth-child(2){
            font-family: "comment";
            font-size: 20px;
            margin-top: 5px;
            margin-bottom: 10px;
            
            width: 677px;
            min-height: 150px;
        }

        .bottom{
            display: flex;
            flex-direction: row;
            width: 677px;

            justify-content: flex-start;
            align-items: flex-start;

            p,a{
                font-family: "comment";
                font-size: 15px;
                margin-right: 30px;
                padding-top: 10px;
            }

            a{
                margin-right: 30px;
                padding-top: 10px;
            }
        }
    }

    .rowColumn:nth-child(2){
        display: flex;
        flex-direction: column;
        flex :1;

        justify-content: center;
        align-items: center;
    }
}

#myBlog{
    border : 0px;
    padding: 10px;
    color : white;
    background-color: #4A3656;
}

